.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  transition: margin-left 0.3s ease;
  padding-top:60px;
}
.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background: #fafafa;
  height: calc(100vh - 60px);
}
.content-wrapper.expanded {
  margin-left: 60px;
}
@media (max-width: 768px) {
  .content-wrapper {
    margin-left: 0; 
  }
}

