.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background:transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  transition: left 0.3s ease;
}
.header button {
  background: transparent;
  border: none;
  color:black;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
.header-left {
  font-size: 1.25rem;
  color:black;
  font-weight: 600;
  flex: 1;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  color:black;
}

.header-right span {
  font-size: 0.95rem;
}
@media (max-width: 768px) {
  .header-left {
    font-size: 1rem;
  }

  .header-right span {
    display: none; 
  }

  .header-right button {
    padding: 0.3rem 0.6rem;
    font-size: 0.85rem;
  }
}