.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  width: 220px;
  background: #1b368d;
  color: #fff;
  overflow-y: auto;
  transition: width 0.3s ease, transform 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  
  &:not(.open) {
    width: 60px;

    .label,
    .logout-btn span {
      display: none;
    }

    .logout-btn {
      justify-content: center;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background 0.2s;

    &:hover {
      background: #092158;
    }

    &.active {
      background: #ffc20e;
      color: #000;
    }

    mat-icon {
      font-size: 20px;
    }
  }

   .logout-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem auto 1rem;
    padding: 0.75rem 1rem;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    width: calc(100% - 1rem);
    font-size: 1rem;
    transition: background 0.3s;

    &:hover {
      background: #ff0000;
    }
  }

    @media (max-width: 768px) {
    width: 100px;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }

    .label,
    .logout-btn span {
      display: none;
    }
  }
}



